/* HEADER */

.header
{
    background-image: url("images/header_back_image.jpg");
}

.header__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.header__nav_link
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.header__h1
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header__p
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.header__button
{
    background-color: #DD783F;
    height: 44px;
    border-radius: 3px;
    border-color: transparent;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* NAVIGATION */

.navigation
{
    text-align: center;
}

.navigation__link
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088;
    text-decoration: none;
}

/* MAIN */

.main__featured-posts_title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.main__first-featured-post_content
{
    background-image: url("images/TheRoadAheadBack.png");
    background-repeat: no-repeat;
}

.main__first-featured-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.main__first-featured-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.main__first-featured-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main__first-featured-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main__second-featured-post_content
{
    background-image: url("images/FromTopDownBack.png");
    background-repeat: no-repeat;
}

.main__second-featured-post_adventure-mark
{
    background: #DD783F;
    border-radius: 2px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__second-featured-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.main__second-featured-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.main__second-featured-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main__second-featured-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.main__most-recent-posts_title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

/* FIRST RECENT POST */

.main__first-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__first-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__first-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__first-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* SECOND RECENT POST */

.main__second-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__second-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__second-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__second-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* THIRD RECENT POST */

.main__third-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__third-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__third-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__third-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* FOURTH RECENT POST */

.main__fourth-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__fourth-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__fourth-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__fourth-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* FIFTH RECENT POST */

.main__fifth-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__fifth-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__fifth-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__fifth-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* SIXTH RECENT POST */

.main__sixth-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__sixth-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__sixth-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__sixth-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* FIRST RECENT POST */

.main__sixth-recent-post_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.main__sixth-recent-post_text
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.main__sixth-recent-post_author
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.main__sixth-recent-post_publish-date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* FOOTER */

.footer
{
    background-image: url("images/footerBack.png");
}

.footer__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__links
{
    text-align: right;
}

.footer__links_link
{
    text-decoration: none;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}

