.header__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #2E2E2E;
}

.header__nav__link
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #2E2E2E;
}

.article__heading
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.article__epigraph
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.article__paragraph
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}

.footer
{
    background-image: url("images/footerBack.png");
}

.footer__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__links
{
    text-align: right;
}

.footer__links__link
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
