<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <span class="site-title header__title">Escape.</span>
        <nav class="menu header__nav">
            <a href="#" class="menu-link menu__link">HOME</a>
            <a href="#" class="menu-link menu__link">CATEGORIES</a>
            <a href="#" class="menu-link menu__link">ABOUT</a>
            <a href="#" class="menu-link menu__link">CONTACT</a>
        </nav>
        <div class="header-content header__content">
            <h1 class="header-content__h1">Let`s do it together.</h1>
            <p class="header-content__p">We travel the world in search of stories. Come along for the ride.</p>
            <button class="header-content__button">View latest post</button>
        </div>
    </header>
    <nav class="navigation">
        <a href="#" class="navigation__link">Nature</a>
        <a href="#" class="navigation__link">Photography</a>
        <a href="#" class="navigation__link">Relaxation</a>
        <a href="#" class="navigation__link">Vacation</a>
        <a href="#" class="navigation__link">Travel</a>
        <a href="#" class="navigation__link">Adventure</a>
    </nav>
    <main class="main">
        <div class="featured-posts main__featured-posts">
            <h2 class="block-title featured-posts__title">Featured Posts</h2>
            {{ range .FeaturedPosts }}
                <div class="featured-post featured-posts__post {{ .Preview }}">
                    <span class="post-title featured-post__title">{{ .Title }}</span>
                    <p class="post-text post-text_sizefirst-featured-post__text">{{ .Subtitle }}</p>
                    <div>
                        <img class="first-featured-post__author-image" src="{{ .AuthorImage }}" alt="">
                        <span class="post-author first-featured-post__author">{{ .Author }}</span>
                        <span class="post-date first-featured-post__publish-date">{{ .PublishDate }}</span>
                    </div>
                </div>
            {{ end }}    
        </div>
        <div class="most-recent-posts main__most-recent-posts">
            <h2 class="block-title most-recent-posts__title">Most Recent</h2>
            {{ range .RecentPosts}}
                <div class="recent-post recent-posts__post">
                    <img class="recent-post__image" src="{{ .Preview }}" alt="">
                    <div>
                        <span class="post-title post-title_size post-title_color recent-post__title">{{ .Title }}</span>
                        <p class="post-text post-text_size post-text_color recent-post__text">{{ .Subtitle }}</p>
                    </div>
                    <div>
                        <img class="first-recent-post__author-image" src="{{ .AuthorImage }}" alt="">
                        <span class="post-author post-author_size post-author_color recent-post__author">{{ .Author }}</span>
                        <span class="post-date post-date_color recent-post__publish-date">{{ .PublishDate }}</span>      
                    </div>
                </div>
            {{ end }}
    </main>
    <footer class="footer">
        <form class="footer-form footer__form">
            <p class="footer-form-title footer-form__title">Stay in Touch</p>
            <input class="footer-form-input footer-form__input" type="email" placeholder="Enter your email address">
            <button class="footer-form-button footer-form__button">Submit</button>
        </form>
        <div>
            <span class="site-title footer__title">Escape.</span>
            <nav class="footer-nav footer__nav">
                <a class="footer-nav-link footer-nav__link footer-nav-link_size" href="#">HOME</a>
                <a class="footer-nav-link footer-nav__link footer-nav-link_size" href="#">CATEGORIES</a>
                <a class="footer-nav-link footer-nav__link footer-nav-link_size" href="#">ABOUT</a>
                <a class="footer-nav-link footer-nav__link footer-nav-link_size" href="#">CONTACT</a>
            </nav>
        </div>
    </footer>
</body>
</html>