.header_title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.header_nav
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header_h1
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.header_p
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.header_button
{
    background-color: #DD783F;
    height: 44px;
    border-radius: 3px;
    border-color: transparent;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

header
{
    background-image: ;
}